/* MAIN CSS Datei */
/* Grunddefintionen */
html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
	height: 101%;
}

#main {
	margin: auto;
	width: 980px;
	min-height: 380px;
}

#header {
	width: 980px;
	height: 97px;
	background-image: url('../img/default_internet_logo.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.indexLink {
	width: 980px;
	height: 50px;
	display: inline-block;
}

/* Background Links */
#bg {
	background-image: url('../img/bg_leftContent.png');
	background-repeat: repeat-y;
	float: left;
}

#leftContent {
	width: 147px;
	/* 170 total - 10 padding-left - 10 padding-right - 3 margin-right */
	min-height: 350px;
	padding: 10px;
	margin: 0 3px 0 0;
	overflow: hidden;
	float: left;
	background-image: url('../img/bg_leftContent.png');
	background-repeat: repeat;
}

#mainContent {
	min-height: 350px;
	float: left;
}

#twoCol {
	width: 810px; /* 980 total - 170 content-left */
}

#threeCol {
	width: 640px; /* 980 total - 170 content-left - 170 content-right */
}

#rightContent {
	width: 170px;
	min-height: 350px;
	float: right;
	overflow: hidden;
}

#footer {
	width: 980px;
	height: 30px;
	float: left;
	border-top: 1px solid #d0d789; /* Grau */
	margin: 15px 0 0 0;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.shim_d0d789 {
	height: 1px;
	background: url('../img/shim_d0d789.png') 0 0 repeat-x;
	padding: 0;
	margin: 0;
}

/*** MAIN NAVIGATION ***/
#mainNav {
	background-color: #d0d789; /* Grau */
	border-top: 1px solid #FFF; /* Schwarz */
	border-bottom: 1px solid #FFF;
	width: 980px;
}

#nav {
	margin: 0;
	padding: 5px;
	text-align: center;
}

#nav li {
	list-style: none;
	display: inline;
	padding: 0;
}

#nav a, #nav span {
	padding: 5px 12px 5px 12px;
	text-decoration: none;
	font-weight: bold;
	display: inline;
	color: #000; /* Schwarz */
	background-color: #d0d789; /* Claas Grï¿½n hell */
}

#nav a:visited {
	color: #000; /* Schwarz */
	background-color: #d0d789; /* Claas Grï¿½n hell */
	text-decoration: none;
}

#nav a:hover, #nav a:active {
	color: #FFF; /* Schwarz */
	background-color: #9dab00; /* CLaas Grï¿½n */
	text-decoration: none;
}

/* a:Visited muss hier vor dem a:hover bzw a:active kommen, 
da es sonst die Einstellungen fï¿½r a:hover und a:active ï¿½berschreibt, 
sobald man einen Menupunkt angeklickt hat */

/*** footer-links ***/
#footer a:link {
	font-size: 11px;
	text-decoration: none;
	color: #6c7600;
	font-weight: bold;
}

#footer a:visited {
	text-decoration: none;
	color: #6c7600;
}

#footer a:hover {
	text-decoration: underline;
	color: #6c7600;
}

/* a:Visited muss hier vor dem a:hover kommen, 
da es sonst die Einstellungen fï¿½r a:hover ï¿½berschreibt, 
sobald man einen Menupunkt angeklickt hat */
#msgBox {
	padding-top: 7px;
	padding-bottom: 7px;
	/* Schlagschatten Firefoxd, Google Chrome */
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#dummyMsgBox {
	padding-top: 0px;
	padding-bottom: 0px;
	/* Schlagschatten Firefoxd, Google Chrome */
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#mainSearchSubmit, .mainSearchSubmit {
	background: url('../img/btnSearch.png') 0 0 no-repeat;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.searchLink {
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}

#loadingImage {
	position: absolute;
	top: 140px;
	margin: 0 0 0 350px;
	width: 40px;
	height: 40px;
	background: url('/img/loading_01.gif') 0 0 no-repeat;
	z-index: 999;
	visibility: hidden;
}

/* Notification types */
.INFO {
	width: 75%;
	margin: auto;
	color: green;
	font-weight: bold;
	text-align: center;
	/* Schlagschatten Firefoxd, Google Chrome */
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* Grï¿½ner Rahmen */
	border-left: 25px solid green;
	border-bottom: 1px solid green;
	border-right: 1px solid green;
	border-top: 1px solid green;
	padding-top: 7px;
	padding-bottom: 7px;
}

.CONFIRMATION {
	width: 75%;
	margin: auto;
	color: green;
	font-weight: bold;
	text-align: center;
	/* Schlagschatten Firefoxd, Google Chrome */
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* Grï¿½ner Rahmen */
	border-left: 25px solid green;
	border-bottom: 1px solid green;
	border-right: 1px solid green;
	border-top: 1px solid green;
	padding-top: 7px;
	padding-bottom: 7px;
}

.WARNING {
	width: 75%;
	margin: auto;
	color: gray;
	text-align: center;
	/* Schlagschatten Firefoxd, Google Chrome */
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* Gelber Rahmen */
	border-left: 25px solid yellow;
	border-bottom: 2px solid yellow;
	border-right: 2px solid yellow;
	border-top: 2px solid yellow;
	padding-top: 7px;
	padding-bottom: 7px;
}

.ERROR {
	width: 75%;
	margin: auto;
	color: red;
	text-align: center;
	/* Schlagschatten Firefoxd, Google Chrome */
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* Roter Rahmen */
	border-left: 25px solid red;
	border-bottom: 1px solid red;
	border-right: 1px solid red;
	border-top: 1px solid red;
	padding-top: 7px;
	padding-bottom: 7px;
}

.radio {
	text-align: center;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.textBold {
	font-weight: bold;
}

img {
	border-style: none;
	border-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.bgHead {
	text-align: center;
	height: 22px;
}

/** position description table **/
#posDescrTable {
	width: 100%;
	border: none;
}

.posDescrHead {
	text-align: center;
	height: 22px;
	background-color: #d0d789; /* Claas Grï¿½n hell */
	font-weight: bold;
}

.posDescrDetails {
	font-weight: bold;
	text-align: center;
}

/*** cart-head ***/

/* Einmal ein Grauer, anderes mal ein Weiï¿½er Hintergrund.
Wird in den JSP Seiten mit Tabellen meistens alternierend dargestellt */
.headGreen {
	text-align: left;
	height: 22px;
	background-color: #d0d789; /* Claas Grï¿½n hell */
}

.bgGray {
	background-color: #efefef;
	height: 22px;
}

.bgWhite {
	background-color: #FFF;
	height: 22px;
}

/** address data **/
.adrAdmin {
	width: 800px;
	border: none;
	margin: 15px 0 15px 5px;
	font-size: 12px;
	/* Schlagschatten fï¿½r Firefox, Google Chrome, Safari */
	-moz-box-shadow: 5px 5px 5px #bebebe;
	-webkit-box-shadow: 5px 5px 5px #bebebe;
	box-shadow: 5px 5px 5px #bebebe;
}

/* Neue Adresse */
#formNewAdrContainer {
	display: none;
}

/* Adresse ï¿½ndern/lï¿½schen */
#formChangeDelAdrContainer {
	display: none;
}
/* Buttons */
/* Alles was mit adressen noch zu tun hat (lï¿½schen, ï¿½ndern, abschicken) */
.changeDelAdr, .newAdr, .saveNewAdr, .submitNewAdr, .submitChangeAdr,
	.submitDelAdr {
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	width: 250px;
	background-color: #FFF;
	padding: 7px;
	margin: 10px 5px 10px 0px;
	border: 2px solid #d9d9d9;
	/* Schlagschatten Firefox, google Chrome etc */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*FÃ¼r HistoryView benÃ¶tige ich es breiter als 250px*/
.historyView {
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	width: 350px;
	background-color: #FFF;
	padding: 7px;
	margin: 10px 5px 10px 0px;
	border: 2px solid #d9d9d9;
	/* Schlagschatten Firefox, google Chrome etc */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*"Bemerkung"-Box vor der Artikle-Bemerkungszeile in der historyViewTable*/
.articleInfoHeader {
	width: 80px;
	padding: 3px;
	background-color: #E0E0E0;
}

/*Text-Box fÃ¼r die Artikel-Bemerkungszeile in der historyViewTable */
.historyOrderArticleInfo {
	padding: 0px;
	padding-left: 3px;
	border: 1px solid #a9b628;
}
/*Text-Box fÃ¼r die Bestellungs-Bemerkungszeile Ã¼ber der historyViewTable */
.historyOrderInfo {
	margin-top: 0px;
	width: 793px;
	padding: 2px;
	padding-left: 1px;
	border: 1px solid #a9b628;
}

/* HOVER Alles was mit adressen noch zu tun hat (lï¿½schen, ï¿½ndern, abschicken) */
.changeDelAdr:hover, .newAdr:hover, .saveNewAdr:hover, .submitNewAdr,
	.submitChangeAdr:hover, .submitDelAdr:hover {
	background-color: #d9d9d9; /* Grau */
}

.itemDescrHead {
	text-align: center;
	background-color: #a9b628; /* Claas Grï¿½n */
	font-weight: bold;
	height: 30px;
}

/*** help ***/
#mainTable {
	width: 805px;
	padding: 60px;
	margin-top: 30px;
	/* Schlagschatten Firefox, google Chrome etc */
	-moz-box-shadow: 5px 5px 5px #bebebe;
	-webkit-box-shadow: 5px 5px 5px #bebebe;
	box-shadow: 5px 5px 5px #bebebe;
}

#mainTable a:link {
	text-decoration: none;
	color: #000;
}

#mainTable a:visited {
	text-decoration: none;
	color: #000;
}

#mainTable a:hover {
	background: #e3e3e3; /* Grau hell */
	color: #000;
}

#mainTable a.themeBlockOverview {
	display: block;
	color: #A6A6A6;
}

#mainTable a.themeBlockOverview:hover {
	background-image: url("../img/kachel_blank.jpg");
	color: #A9B628;
}

#themeBlock {
	margin-top: 30px;
	padding: 30px;
	text-align: center;
	background-color: #e3e3e3; /* Grau hell */
	/* Schlagschatten Firefox, google Chrome etc */
	-moz-box-shadow: 3px 3px 3px #bebebe; /* Grau */
	-webkit-box-shadow: 3px 3px 3px #bebebe;
	box-shadow: 3px 3px 3px #bebebe;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#themeBlock:hover {
	background: #e6e9be; /* Claas Grï¿½n hell */
	color: #000;
}

/* Startseite; 4 Buttons auf der Hauptï¿½bersicht */
.themeBlockOverview {
	Background-image: url(../img/kachel_blank.jpg);
	background-repeat: no-repeat;
	margin: AUTO;
	width: 257px;
	color: #A6A6A6; /* Grau dunkel */
	margin-top: 25px;
	padding: 25px;
	text-align: right;
	font-family: Verdana;
	font-weight: lighter;
	font-style: oblique;
	font-size: 12pt;
	/* Schlagschatten Firefox etc */
	-moz-box-shadow: 3px 3px 3px #bebebe;
	-webkit-box-shadow: 3px 3px 3px #bebebe;
	-moz-border-radius: 5px;
	box-shadow: 3px 3px 3px #bebebe;
	border-radius: 5px;
	/* Schlagschatten fï¿½r Internet Explorer <= Version 8.0 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(color='#bebebe', Direction=135, Strength=5px)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#bebebe',
		Direction=135, Strength=5px);
}

/* Hover fï¿½r die Buttons auf der Hauptï¿½bersicht */
.themeBlockOverview:hover {
	color: #A9B628; /* Claas Grï¿½n */
	cursor: pointer;
	/* Schlagschatten Firefox etc */
	-moz-box-shadow: 5px 5px 5px #A9B628; /* Claas Grï¿½n */
	-webkit-box-shadow: 5px 5px 5px #A9B628; /* Claas Grï¿½n */
	box-shadow: 5px 5px 5px #A9B628; /* Claas Grï¿½n */
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* Schlagschatten fï¿½r Internet Explorer <= Version 8.0  */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(color='#A9B628', Direction=135, Strength=5px)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#A9B628',
		Direction=135, Strength=5px);
}

#mainTable .themeBlockOverview a, #mainTable .themeBlockOverview a:visited
	{
	color: #A6A6A6; /* Grau */
	text-align: right;
	font-family: Verdana;
	font-weight: lighter;
	font-style: oblique;
	font-size: 12pt;
}

#mainTable .themeBlockOverview a:hover {
	color: #A9B628; /* Claas Grï¿½n */
	text-align: right;
	font-family: Verdana;
	font-weight: lighter;
	font-style: oblique;
	font-size: 12pt;
	background-color: white;
}

.borderField {
	border: 1px solid #d0d789; /* Claas Grï¿½n hell */
	background-color: white;
	font-size: 12px;
	padding: 2px;
}

/* Error pages */
.errorBox {
	padding: 40px 0 25px 0;
}

/*** login ***/

/* Login vergessen */

.login_forgot {
    width: 500px;
    border: none;
    margin: 40px 0 0 250px;
    font-size: 12px;
    
	/* Schlagschatten Firefox, Google Chrome, Safari */
    -moz-box-shadow: 5px 5px 5px #bebebe; /* Grau */
    -webkit-box-shadow: 5px 5px 5px #bebebe;
    box-shadow: 5px 5px 5px #bebebe;    
}

#login_forgot input {
    border: 1px solid #d0d789; /* Claas Grün */
    width: 220px;
}

/* Button Login Abschicken */
.submitLogin {
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    width: 220px;
    
    background-color: #efefef; /* Grau */
    padding: 7px;
    margin: 10px 5px 10px 0px;
    border: 2px solid #d9d9d9; /* Grau (Leicht dunkler) */
    
	/* Schlagschatten Firefox */
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

.submitLogin:hover {
    background-color: #FFF; /* Schwarz */
}

/* Container für Login vergessen bzw Registierung */
#forgot-form a:link, #register-form a:link {
    font-size: 11px;
    text-decoration: none;
    color: #6c7600; /* Claas Grün dunkel */
    font-weight: bold;
    cursor: pointer;
}

#forgot-form a:visited, #register-form a:visited {
    color: #6c7600; /* Claas Grün dunkel */
}

#forgot-form a:hover, #register-form a:hover {
    text-decoration: underline;
}
